.App {
  
}

.documentList {
  border-top: solid 1px black;
}

.header {
  text-align: left;
  color: white;
  background-color: #282c34;
  padding: 10px;
}

.docEntry {
  padding: 25px;
  margin: 0;
  font-size: 16pt;
  background-color:  #dddddd;
  border-bottom: solid 1px black;
}

.docEntry a {
  text-decoration: none;
  color: black;
}

.docEntryUploaded {
  font-size: 8pt;
  color: #808080;
  float:right;
}

.headerUserName {
  margin-right: 15px;
}

.headerNameLogout {
  float: right;
}

.lorFormOuter {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 200px 0 0 0;
}

.lorForm {
  background-color: #dddddd;
  padding: 20px;
}

.lorFormRow, .lorFormSubmit {
  margin: 10px;
}

.lorFormButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
